/* header div */
body {
  background: #e9ecef;
}

.headerDiv {
  padding: 20px 0px;  
  text-align: center;
}

.headerP {
  margin: 0;
}

.itemDiv {
  margin: 5px 20px;
}

.textDiv {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 70%;
}

.mainText {
  margin: 0;
  color : #60617F;
  font-weight: bold;
}

.subText {
  margin: 0;
  color: #909EA7;
  font-size: 12px;
}

.pinkText {
  color: #ff4caf
}

/* main amount bottom */
.totalBottom {
  border-top: outset;
  margin : 15px;
  padding : 20px;

}
.totalAmount {
  float: right;
}

.fullBtn {
  margin: 20px;
  height: 40px;
  width: -webkit-fill-available;
  background-color : #9885F0;
  color : white;
  border : none;
  border-radius: 10px;

}

.countSelect {
  float: right;
  color: #909EA7;
  background-color: #F7F7F7;
  border : none;
  padding : 5px;
  margin : 5px 5px;
  border-radius : 10px;
}

.deleteBtn {
  float: right;
  color: #FF75AA;
  background-color: #FDF1F5;
  border : none;
  padding : 5px;
  margin : 5px 5px;
  border-radius : 10px;
}